footer
  small
    | Theme(#[a(href="https://github.com/yasukazu/ym-start") #[strong ym-start] theme]) is created at: #{theme.created_at}&nbsp;
    | Author: #{config.author}.
    | Powered by #[a(href="https://hexo.io") Hexo]