doctype
html(lang=config.language)
  include ./head
  body
    include ./header
    include ./search
    block content
    .commentbox
    script(src="https://unpkg.com/commentbox.io/dist/commentBox.min.js") 
    script commentBox('5764111233187840-proj')
    block pagination

    include ./footer
    include ./scripts
